
*.xcuserstate
Sports.xcodeproj/project.xcworkspace/xcuserdata/sevgjan.xcuserdatad/UserInterfaceState.xcuserstate
Sports.xcodeproj/project.xcworkspace/xcuserdata/sevgjan.xcuserdatad/UserInterfaceState.xcuserstate
/Sports.xcodeproj/project.xcworkspace/xcuserdata/sevgjan.xcuserdatad/UserInterfaceState.xcuserstate
/Sports.xcodeproj/xcuserdata/sevgjan.xcuserdatad/xcdebugger
